/*----------------------------------------------
    ## All section style
----------------------------------------------*/
/****banner-area****/
.banner-area {
  background-color: var(--main-color);
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 64%;
  z-index: 0;

  .banner-thumb {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0px);
    width: 100%;
    text-align: center;
  }
}

.banner-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: url(../img/banner/bg-img.png);
  background-size: 102% 96%;
  z-index: -1;
}

.banner-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.banner-shape-2 {
  position: absolute;
  right: 0;
  top: 0;
}

.banner-inner {
  padding: 150px 0;

  h3 {
    color: var(--secondary-color);
    font-family: var(--satisfy-font);
    font-weight: 400;
    margin-bottom: 4px;
  }

  h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 86px;
    font-family: var(--bebas-font);
    font-weight: 400;
    line-height: 92px;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 30px;
    font-size: 20px;
  }
}

/****category-area****/
.category-area {
  background-color: #fff;
}

.category-menu {
  display: flex;
  margin: 30px 0;
  padding: 0;
  position: relative;

  >li {
    list-style: none;
    flex: 0 0 auto;
    width: 16.6666666667%;

    >a {
      font-size: 18px;
      font-weight: 500;
      display: inline-block;
      color: var(--heading-color);

      img {
        margin-right: 20px;
      }
    }

    &:hover>.category-sub-menu {
      visibility: visible;
      opacity: 1;
      transform: translate(0, 0px);
    }
  }

  .category-sub-menu {
    padding: 30px 30px 0 30px;
    position: absolute;
    text-align: left;
    width: 100%;
    margin: 0;
    list-style: none;
    left: 0;
    box-shadow: 0 8px 15px rgb(0 0 0 / 5%);
    background-color: #fff;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease;
    border-radius: 0 0 6px 6px;
    transform: translate(0, -10px);
    top: 72px;

    .single-item-wrap {
      padding: 10px;
      margin-bottom: 20px;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

/***offer area***/
.single-offer-wrap {
  background-size: 100% 100%;
  border-radius: 12px;
  position: relative;
  // padding: 44px 49px 50px;
  padding:0;
  margin-bottom: 25px;
  z-index: 1;
  overflow: hidden;

  ul.offer-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      color: #fff;
      margin: 0 0 15px 0;
      border: 1px dashed #fff;
      padding: 0px 7px;
      background: rgb(255 255 255/0.1);

      span {
        font-weight: 700;
        display: block;
      }
    }
  }
  &.h-30{
    // height: 100%;
    display: flex;
    min-height: 460px;
    .wrap-details{
      h2{
        line-height: 47px;
        font-size: 47px;
      }
      .bg-img{
        object-position: right;
        object-fit: contain;
      }
    }
  } 
  .bg-img {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transition: $transition; 
  }

  .bg-img-2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
  }

  .animated-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    animation: 20s linear 0s infinite normal none running left-loop;
  }

  .animated-img-2 {
    animation: 20s linear 0s infinite normal none running left-loop-2;
  }

  .overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90.1deg,
        #ffeecc 38.57%,
        rgba(255, 238, 204, 0) 66.47%);
  }

  &:hover {
    .bg-img {
      transform: scale(1.05);
    }
  }

  .wrap-details {
    width: 49%;
    position: relative;

    h2 {
      font-size: 68px;
      font-weight: 700;
      color: #fff;
      font-family: "Quattrocento", serif;
      line-height: 72px;
      margin-bottom: 8px;
    }

    h3 {
      color: #fff;

      span {
        color: var(--main-color);
      }

      &.text-heading {
        color: var(--heading-color);
      }
    }

    h5 {
      color: #fff;
      font-size: 20px;
    }

    .btn {
      height: 48px;
      line-height: 48px;
      margin-top: 17px;
      padding: 0 20px;
    }
  }

  .offer-sticker {
    display: inline-block;
    margin: -27px 0 -20px 195px;
  }
}

div.lafka_whole_banner_wrapper {
  width: 100%;

  .offer_man_box {
    display: block;
    position: relative;
    overflow: hidden;
    color: #fff;

    .lafka_banner_image {
      z-index: 1;

      img {
        width: 100%;
        vertical-align: text-bottom;
        display: block;
        -webkit-transition: all .5s cubic-bezier(.77, 0, .175, 1);
        transition: all .5s cubic-bezier(.77, 0, .175, 1);
      }
    }

    .lafka_banner_text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 20;
      overflow: hidden;

      .lafka_banner_centering {
        display: table;
        width: 100%;
        height: 100%;

        .lafka_banner_centered {
          display: table-cell;
          vertical-align: middle;
          text-align: left;
          padding: 30px 32px;
          position: relative;

          h5 {
            margin-bottom: 2px;
            font-size: 18px;
            word-wrap: break-word;
            max-width: 55%;
            font-weight: 700;
            line-height: normal;
            color: #f2002d;
          }

          span {
            position: relative;
            z-index: 5;
            text-shadow: 1px 1px 7px rgb(0 0 0 / 30%);
          }

          h6 {
            color: #888;
            font-size: 15px;
            margin-top: 8px;
            text-transform: none;
          }
        }
      }
    }

    &:hover {
      .lafka_banner_image {
        img {
          -webkit-transform: scale(1.12);
          transform: scale(1.12);
        }
      }
    }
  }

  .coupon:before,
  .coupon:after,
  .coupon .inner:before,
  .coupon .inner:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    border: 20px solid rgb(201, 12, 18);
    border-radius: 50%;
    background: transparent;
    box-shadow: inset 0 0 0 2px #910000;
  }

  .coupon {
    margin: 0 0 0 19px;
    max-width: 150px;
    padding: 20px 0;
    border: 2px solid #910000;
    border-width: 1px 0;
    position: relative;
    background: rgb(201, 12, 18);
    transition: All 0.2549s ease;
    -webkit-transition: All 0.2549s ease;
    -moz-transition: All 0.2549s ease;
    -o-transition: All 0.2549s ease;

    &:before {
      top: -40px;
      left: -60px;
      clip: rect(40px, auto, auto, 40px);
      -webkit-clip-path: rectangle(50%, 50%, 100%, 100%, 0, 0);
    }

    &:after {
      top: -40px;
      right: -59px;
      clip: rect(40px, 40px, auto, auto);
      -webkit-clip-path: rectangle(0, 50%, 50%, 100%, 0, 0);
    }

    .inner {
      position: relative;
      padding: 0px 40px;
      margin: 0 -20px;
      background: rgb(201, 12, 18);
      border: 2px solid #910000;
      border-width: 0 1px;
      min-height: 30px;

      &:before {
        bottom: -60px;
        left: -40px;
        clip: rect(auto, auto, 40px, 40px);
        -webkit-clip-path: rectangle(50%, 0, 100%, 50%, 0, 0);
      }

      &:after {
        bottom: -60px;
        right: -40px;
        clip: rect(auto, 40px, 40px, auto);
        -webkit-clip-path: rectangle(0, 0, 50%, 50%, 0, 0);
      }

      .savings {
        font-size: 18px;
        text-align: center;
        line-height: 18px;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }

      .couponCode {
        font-size: 27px;
        text-align: center;
        font-weight: 900;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
    }
  }
}

/***single-item-wrap***/
.single-item-wrap {
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  padding: 0px 0px 24px;
  margin-bottom: 60px;
  transition: $transition;
  overflow: hidden;

  &:hover {
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);

    .thumb {
      img {
        transform: scale(1.05);
      }
    }

    .btn-area {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 100%);
    }
  }

  .thumb {
    text-align: center;

    img {
      transition: $transition;
      width: 100%;
    }

    a {
      position: absolute;
      top: 18px;
      right: 27px;
      font-size: 24px;

      &:hover {
        i {
          &:before {
            content: "\EE0E";
          }
        }
      }
    }
  }

  .wrap-details {
    margin-top: 22px;
    padding: 0 20px 0;

    h5 {
      font-weight: 600;
      font-size: 22px;
    }

    .wrap-footer {
      display: flex;
      align-items: center;

      .rating {
        font-size: 16px;
        color: rgba(27, 27, 27, 0.7);
        font-weight: 600;
        display: flex;

        .rating-inner {
          margin: 0 10px;
        }
      }

      .price {
        margin-left: auto;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
      }
    }
  }

  .btn-area {
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    transition: $transition;
    transform: translate(0px, 80%);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.12);

    .btn {
      border-radius: 30px 30px 0 0;
      padding: 0 90px;
      height: 64px;
      line-height: 64px;
    }
  }

  &.style-2 {
    padding: 25px 29px 30px;
    margin-bottom: 30px;

    &:hover {
      border-radius: 12px;
    }

    .media {
      display: flex;
      align-items: center;

      .thumb {
        margin-right: 30px;
      }

      .wrap-details {
        margin-top: 0;

        .wrap-footer .price {
          margin-left: 0;
        }

        .btn {
          margin-left: auto;
          font-size: 16px;
          font-weight: 600;
          height: 42px;
          line-height: 42px;
          border-radius: 6px;
          padding: 0 32px;
        }
      }
    }
  }
}

/****offer-area****/
.single-offer-wrap {
  &.single-offer-wrap-2 {
    padding: 80px 90px 73px;

    .bg-img {
      width: 94%;
      left: auto;
      right: 0;
    }

    .wrap-details {
      width: 36%;
    }

    h4 {
      font-size: 56px;
      font-weight: 400;
      font-family: var(--satisfy-font);
      margin-bottom: -15px;
    }

    h1 {
      font-size: 100px;
      font-weight: 900;
      color: var(--main-color);
      line-height: 120px;
      margin-bottom: 0;
    }

    p {
      font-size: 28px;
      line-height: 33px;
      color: var(--heading-color);
    }
  }

  &.single-offer-wrap-3 {
    padding: 0px;
    height: unset;

    .wrap-details {
      width: 100%;

      h3 {
        font-size: 29px;
        font-weight: 700;
        color: var(--secondary-color);
        line-height: 35px;
        margin-bottom: 5px;
      }

      span {
        font-size: 21px;
        line-height: 21px;
        color: #fff;
      }
    }
  }

  &.single-offer-wrap-4 {
    height: 430px;

    .wrap-details {
      width: 100%;

      h3 {
        font-size: 42px;
        font-weight: 700;
        line-height: 44px;
        color: var(--heading-color);
        margin-bottom: 7px;

        span {
          display: block;
          font-weight: 800;
        }
      }

      p {
        color: var(--heading-color);
      }
    }
  }

  &.single-offer-wrap-5 {
    height: 430px;
    padding: 16px 30px;

    .wrap-details {
      width: 100%;

      h5 {
        color: var(--secondary-color);
        font-size: 24px;
        font-weight: 400;
        font-family: var(--satisfy-font);
        margin-bottom: 0;
      }

      h3 {
        font-size: 40px;
        line-height: 40px;
        font-weight: 900;

        span {
          display: block;
          color: var(--secondary-color);
        }
      }
    }
  }

  .coupon {
    .inner {
      display: inline-flex;
      border: 1px dashed #fff;
      background: #000;
      border-radius: 10px;
      text-align: center;
      padding: 0 0px 0 15px;
      color: #fff;

      .savings {
        margin: 0 10px 0 0;
        line-height: 33px;
      }

      .couponCode {
        background: #008940;
        padding: 0 15px;
        border-radius: 0px 10px 10px 0px;
        line-height: 35px;
        cursor: pointer;
      }
    }
  }
}

/***featured-area***/
.subscribe-area,
.featured-area {
  padding: 145px 0 112px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;

  .section-title {
    .title {
      font-size: 60px;
      line-height: 66px;
    }
  }

  .single-input-wrap {
    margin-top: 40px;
  }
}

/****about-area****/
.about-area {
  background-size: cover;
  background-position: center;
}

.single-about-wrap {
  background-color: #faf7f2;
  border-radius: 6px;
  text-align: left;
  color: var(--heading-color);
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  margin-bottom: 30px;

  img {
    margin-right: 20px;
  }

  &.style-2 {
    background: #FAF7F2;
  }
}

.restant-img {
  text-align: center;
  position: relative;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;

  img:nth-child(2) {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    -webkit-animation: restant-amination 10s infinite linear;
    animation: restant-amination 10s infinite linear;
  }

  img:nth-child(3) {
    position: absolute;
    top: 175px;
    right: -50px;
    max-width: 260px;
    -webkit-animation: restant-amination 10s infinite linear;
    animation: restant-amination 10s infinite linear;
  }

  img:nth-child(4) {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 260px;
    bottom: -100px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: restant-amination 10s infinite linear;
    animation: restant-amination 10s infinite linear;
  }

  img:nth-child(5) {
    position: absolute;
    top: 160px;
    left: -65px;
    max-width: 275px;
    -webkit-animation: restant-amination 10s infinite linear;
    animation: restant-amination 10s infinite linear;
  }
}

@-webkit-keyframes restant-amination {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  70% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes restant-amination {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  70% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/***product-area***/
.product-nav {
  margin-bottom: 50px;

  .nav-item {
    flex: 0 0 auto;
    width: 16.6666666667%;
    padding: 0 15px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    .nav-link {
      height: 80px;
      background-color: #fff;
      border-radius: 50px;
      width: 100%;
      font-size: 18px;
      font-weight: 500;

      img {
        margin-right: 10px;
      }

      &.active {
        background-color: #292929;
        color: #fff;
      }
    }
  }
}

/***testimonial-area***/
.testimonial-area {
  padding: 135px 0 138px;
  background-image: url(../img/testimonial/1.png);
  background-size: cover;
  background-position: center;
}

.testimonial-slider {
  .owl-dots {
    display: none;
  }
}

.testimonial-wrap {
  p {
    color: rgba(27, 27, 27, 0.7);
    font-size: 32px;
    font-weight: 400;
    line-height: 46px;
  }

  h3 {
    font-size: 32px;
    font-family: var(--satisfy-font);
    font-weight: 400;
    margin: 30px 0 10px;
  }

  h6 {
    font-size: 20px;
    color: rgba(27, 27, 27, 0.7);
    font-weight: 400;
  }
}

/****video-area****/
.video-area {
  .overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .play-btn {
    font-size: 148px;
    color: var(--secondary-color);
  }
}

/****contact-area****/
.contact-area {
  .contact_info_list .single-info-item .details {
    color: var(--heading-color);
  }
}

.responsive-map {
  overflow: hidden;
  position: relative;
  height: 500px;
  width: 100%;

  iframe {
    height: 100%;
    width: 100%;
  }
}

/****animation-css-frame****/
@keyframes left-loop {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes left-loop-2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

/* Home page Location List Modal Section*/

.card-wrap {
  background: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 10px 25px -10px rgb(0 0 0 / 30%);

  .store-wrap {
    margin-bottom: 1rem;
    display: block;
    display: block;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    .media {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
      align-items: flex-start;
    }

    img {
      width: 100px;
      margin-right: 15px;
    }

    h2 {
      font-weight: 600;
      font-size: 28px;
      margin: 0px;
    }

    ul {
      margin: 0px;
      margin-top: 5px;
      color: #999;
      padding: 0px;

      li {
        display: inline-block;
        margin-right: 1rem;
        font-size: 12px;
      }
    }

    p {
      line-height: 22px;
      margin: 0px;
    }
  }
}

.Franchise_Enquiry {
  padding: 120px 0;
  background-color: #010f1c !important;


  .container {
    max-width: 1720px;
  }

  .available-table-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 39%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.9;
  }

  form {
    max-width: 1366px;
    margin: 0 auto;

    .form-control {
      margin: 0 0 20px 0;
      line-height: 50px;
      background: #ffff;
    }
  }


  .available-table {
    background-color: #ffffff;
    padding: 45px 50px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
    position: relative;
    z-index: 2;

    .available-table_title {
      font-size: 30px;
      border-bottom: 1px solid #eb0029;
      padding-bottom: 16px;
      margin-bottom: 30px;
      margin-top: -0.3em;
    }

    .available-table_info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-bottom: 1px dashed #bdbdbd;
      padding-bottom: 8px;
      margin-bottom: 8px;
      margin: 0 0 18px 0;
      color: #4d5765;
      line-height: 1.75;

      span {
        display: inline-block;
      }
    }

    .available-table_title.style2 {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 8px;
      margin-top: 25px;
    }

    .available-table_call {
      font-size: 24px;
      font-weight: 700;
      padding-top: 10px;
      display: block;
      max-width: fit-content;
      border-top: 1px soliD #eb0029;
      margin: 0 auto -0.2em auto;
    }
  }
}


/* Responsive */

@media screen and (max-width:1440px) {
  .Franchise_Enquiry form {
    max-width: 800px !important;
  }
}

@media Screen and (max-width: 767px) {
  .Franchise_Enquiry .available-table {
    width: 100%;
  }

  .Franchise_Enquiry .available-table-bg {
    display: none;
  }

  .navbar-area .nav-container .navbar-collapse .navbar-nav li a {
    color: rgba(255 255 255);
  }

  .nav-right-part ul li:first-child {
    display: none;
  }
}